 /*
	Name:Nickie Palmer
	File: index.html
	Date: February 27, 2026
	Challenge: St Huxley's Community College
	*/

html {
  font-size: 16px;
}

 * {
  box-sizing: border-box;
}

body {
  font-family: 'Merriweather', serif;
  line-height: 1.6;
  letter-spacing: 0.02rem;
  color: #000000;
  margin: 0 auto;
  padding: 0 20px;
  min-width: 980px;
  max-width: 1400px;
}

/* Headings */

h1, h2 {
  font-family: "Georgia", serif;
  letter-spacing: 0.05rem;
}

h1 { 
  font-size: 2.5rem;
  text-align: center;
  margin: 1.5rem 0;
}

h2 { 
    font-size: 1.8rem; 
    margin-bottom: 0;
    margin-top: 1.2rem;
}

main {
  display: grid;
  grid-template-columns: 5fr 2fr 2fr;
  gap: 40px;
  padding: 20px 0;
}

/* Paragraphs */

p {
  margin: 0 0 1rem 0;
}

section h2 + p {
  text-indent: 2rem;
}

/* Link Styling */

a {
  color: #ad1212;
  text-decoration: underline;
}

/* List Styling */

ul, ol {
  margin: 1.2rem 0;
  padding-left: 2rem;
  line-height: 1.6;
}

li {
  margin: 0.5rem 0;
}

/* Custom bullet style */

ul {

  list-style-type: circle;
}
a:visited {
  color: #ad1212;
}

a:hover,
a:focus {
  text-decoration: none;
  color: #ad1212;
}

/* Remove default focus outline */

a:focus {
  outline: none;
}

/* External link icon */

a[href^="http"]::after {
  content: "";
  display: inline-block;
  width: 8px;
  height: 12px;
  margin-left: 5px;
  background-image: url("external-link-52.png");
  background-size: contain;
  background-repeat: no-repeat;
}

/* Navigation Styling */

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav li {
  margin-bottom: 10px;
}

nav a {
  display: block;
  width: 100%;
  padding: 15px 0;
  background-color: white;
  border: 1px solid black;
  color:  #ad1212;
  text-decoration: none;
  font-family: "Georgia", serif;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.08rem;
}

nav a:hover,
nav a:focus {
  background-color: #ad1212;
  color: white;
}

/* header and footer */

header {
  border-bottom: 5px solid  #ad1212;
}

footer {
  border-top: 5px solid  #ad1212;
}

footer p {
  text-align: center;
}
/* Link Styling */
